* {
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}
body {
    background: orange;
}
.title-header {
    background: lightcoral;
    border: 2px dashed black;
}
h1 {
    font-weight: bold;
    text-align: center;
}
h2 {
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: space-around;
    flex-wrap: wrap;
}
ul img {
    width: 40%;
    height: 150px;
    border: 2px dashed red;
}
li {
    border: 5px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-bottom: 10px;
    background-color: grey;
    margin: 0 auto;
    margin-bottom: 10px;
}
li:hover {
    transform:translate(3px, -3px); 
    transition-duration: 750ms;
    box-shadow: -5px 5px 10px black;
}
button {
    background: lightcoral;
    border: 2px dashed black;
}
button:hover {
    cursor: pointer;
}
.price {
    text-decoration: line-through;
    color: crimson;
    font-weight: bold;
}
.saleprice {
    font-weight: bold;
}