body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #e8e8e8;
    width: 100%;
    margin: 0px;
}
nav {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(212, 119, 139);
    margin: 0px;
}
a {
    margin: 5px;
    text-decoration: none;
    color: black;
    border-radius: 5px;;
}
a:hover {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
.title-header {
    background: lightsalmon;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    text-decoration: none;
    text-align: center;
}
header {
    width: 100%;
    margin: 0px;
}

table {
    width: 50%;
    border: 1px solid black;
    text-align: center;
    background-color: grey;
    border-spacing: 5px 5px;
}

td {
    border-bottom: 1px solid black;
    border-right: 1px dashed black;
    padding: 3px;
    background-color: white;
}
th {
    border: 1px solid turquoise;
    background-color: darksalmon;
    padding: 3px;
    text-transform: uppercase;
}
td:hover {
    background-color: wheat;
}

button {
    height: 20px;
    margin-top: 10px;
}
button:hover {
    background-color: salmon;
    cursor: pointer;
}
select {
    height: 20px;
}
* {
    
    font-family: 'Source Code Pro', monospace;
}
a:hover {
    border-bottom: 2px solid white;
    transition-duration: 500ms;
}
h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h1 {
    width: 100%;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}